# Cyclistic: Google Capstone Project

## Introdution

The bike share analysis case study presented here and brings the real world scenario of the nature of bike riders, i.e.Annual member riders and non-member Casual riders in Chicago. Data for this analysis has been provided by Motivate International Inc. for 692 stations across Chicago and is a part of Course work of Google Data Analytics Certificate This case study is given by Google through E-learning cousera.

## 1. Ask

### Key Tasks

1. Consider key stakeholders:
    - The key stake holders are Lily Moreno (Director and Manager), Cyclistic executive members and marketing        analytics team.

2. Identify the buisness task:
    - The main goal of this work is to ensure design marketing strategies that would convert casual riders          into annual members by analyzing their wages.
    - Therefore, the focus will be centered on the nature of bike riders for a period of 18 months.

## 2. Prepare

The data was available to be downloaded from the official site of Kaggle. under the licence agreement and data-privacy issues prohibits us from using the rider's personally identifiable information. This data was used as i created a nootbook. I will be using Python programming language to access and analyze the data. The data provided here is a second party data and is reliable because it comes from the source that has experiences in bike traffic analysis. On the other hand, the data does not seem to be Sampling biased because it covers almost all the region in Chicago.

The Data from 01-01-2020 to 31-06-2021

### Key Tasks

1. Download data and store it appropriately.
2. Identify how itâ€™s organized:
    - It's organized as a proper dataset
3. Identify the bias and credibility:
    - No issues with bias in this Dataset

In [262]:
## Loading the necassary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [263]:
## Loading the dataset
df = pd.read_csv("C:/Users/al-khateb/Desktop/Cyclic Capstone Project/final_tripdata.csv")

In [264]:
## Get a look at the data set
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_week_start,duration,distance
0,000001004784CD35,docked_bike,2020-07-22 15:38:23,2020-07-22 15:56:47,Wolcott (Ravenswood) Ave & Montrose Ave,238,Southport Ave & Clybourn Ave,307,41.961406,-87.676169,41.920771,-87.663712,casual,4.0,1824.0,42501.53
1,000002EBE159AE82,electric_bike,2021-06-22 17:25:15,2021-06-22 17:31:34,Clinton St & Jackson Blvd,638,Milwaukee Ave & Grand Ave,13033,41.878261,-87.641155,41.891495,-87.648179,member,3.0,619.0,14982.48
2,00000550C665101A,docked_bike,2020-06-06 15:20:01,2020-06-06 16:28:09,Sheffield Ave & Waveland Ave,114,Kedzie Ave & Milwaukee Ave,260,41.949399,-87.654529,41.929567,-87.707857,casual,7.0,10808.0,56896.25
3,0000127970C84F62,docked_bike,2020-05-30 06:36:36,2020-05-30 06:55:28,Green St & Madison St,198,Wells St & Concord Ln,289,41.881900,-87.648800,41.912100,-87.634700,member,7.0,1892.0,33329.42
4,00001A81D056B01B,classic_bike,2021-04-14 08:10:11,2021-04-14 08:19:14,Wood St & Hubbard St,13432,Morgan St & Lake St,TA1306000015,41.889899,-87.671473,41.885483,-87.652305,member,4.0,903.0,19670.18

In [265]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5515094 entries, 0 to 5515093
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  day_week_start      float64
 14  duration            float64
 15  distance            float64
dtypes: float64(7), object(9)
memory usage: 673.2+ MB

In [266]:
df.isna().sum()

ride_id                    0
rideable_type              1
started_at                 1
ended_at                   1
start_station_name    282069
start_station_id      282695
end_station_name      315999
end_station_id        316460
start_lat                  1
start_lng                  1
end_lat                    1
end_lng                    1
member_casual              1
day_week_start             1
duration                   1
distance                   1
dtype: int64

## 3. Data Cleaning

The stage is to clean the data and make it availble for analyses to get our recommendations at the act stages.

In [267]:
## There are some columns there is no need for them 
df.drop(["start_lat","start_lng","end_lat","end_lng"],axis = 1)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
0,000001004784CD35,docked_bike,2020-07-22 15:38:23,2020-07-22 15:56:47,Wolcott (Ravenswood) Ave & Montrose Ave,238,Southport Ave & Clybourn Ave,307,casual,4.0,1824.0,42501.53
1,000002EBE159AE82,electric_bike,2021-06-22 17:25:15,2021-06-22 17:31:34,Clinton St & Jackson Blvd,638,Milwaukee Ave & Grand Ave,13033,member,3.0,619.0,14982.48
2,00000550C665101A,docked_bike,2020-06-06 15:20:01,2020-06-06 16:28:09,Sheffield Ave & Waveland Ave,114,Kedzie Ave & Milwaukee Ave,260,casual,7.0,10808.0,56896.25
3,0000127970C84F62,docked_bike,2020-05-30 06:36:36,2020-05-30 06:55:28,Green St & Madison St,198,Wells St & Concord Ln,289,member,7.0,1892.0,33329.42
4,00001A81D056B01B,classic_bike,2021-04-14 08:10:11,2021-04-14 08:19:14,Wood St & Hubbard St,13432,Morgan St & Lake St,TA1306000015,member,4.0,903.0,19670.18
...,...,...,...,...,...,...,...,...,...,...,...,...
5515089,FFFFFB6DD39792F1,docked_bike,2020-08-27 16:13:13,2020-08-27 16:43:24,McClurg Ct & Erie St,142,Halsted St & 18th St,202,member,5.0,3011.0,46660.08
5515090,FFFFFBF105061B9E,docked_bike,2020-06-15 08:52:25,2020-06-15 09:25:16,Avondale Ave & Irving Park Rd,483,Kildare Ave & Montrose Ave,630,member,2.0,7291.0,8525.92
5515091,FFFFFC1045B11550,classic_bike,2021-03-03 13:42:58,2021-03-03 14:13:13,Clark St & Berwyn Ave,KA1504000146,Theater on the Lake,TA1308000001,member,4.0,7055.0,63716.35
5515092,FFFFFF0C829D3E7A,electric_bike,2021-05-03 17:04:08,2021-05-03 17:46:11,Clark St & Lake St,KA1503000012,Harper Ave & 59th St,KA1503000070,member,2.0,4203.0,105891.78
5515093,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [268]:
## The duration column has negative values which is error
(df["duration"]<=0).sum()

11306

In [269]:
## Delete the raws that contain negative values in the duratoin column
df.drop(df.index[df["duration"]<=0],inplace = True)

In [270]:
## The distance column has negative values which is error
(df["distance"]<=0).sum()

429308

In [271]:
## Delete the raws that contain negative values in the distance column
df.drop(df.index[df["distance"]<=0],inplace = True)

In [272]:
## Delete the null values in the dataset
df.dropna(inplace= True)

In [ ]:
## Check for duplicates
df.duplicated().sum()
## No duplicated values

In [ ]:
df["day_week_start"].unique()

In [ ]:
## Add a column called day_week_start_name to change the number of the days to names
day_dict= {1:"Sunday",2:"Monday",3:"Tuesday",4:"Wednesday",5:"Thursday",6:"Friday",7:"Saturday"}
df["day_week_start_name"] = df["day_week_start"].apply(lambda y :day_dict[y])
df

In [ ]:
df.isna().sum()

In [ ]:
df.info()

## 3. Process

### Key Tasks

1. Check the data for errors:
    - Data Has been cleaned from the above code
    - No duplicates where found,remove negative values from a non-negative coulmn and remove NaN values and rows from the data
2. Choose your tools:
    - Python
3. Document the cleaning process.
    - Did it with every code

In [ ]:
df["started_at"]= pd.to_datetime(df["started_at"])
df.info()

In [ ]:
df["month"] = df["started_at"].dt.month

In [ ]:
month_dict ={1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",
            10:"October",11:"November", 12: "December",0:0}
df["month_name"] =df["month"].apply(lambda y :month_dict[y])

In [ ]:
df

The data is ready for analysis

## 4. Analyze

In [ ]:
## Make 2 new data frames from the original data frame
member_df = df[df["member_casual"]=="member"]
casual_df = df[df["member_casual"]=="casual"]

In [ ]:
member_df

In [ ]:
casual_df

In [ ]:
member_type =df["member_casual"].value_counts()
member_type

In [ ]:
df["member_casual"].value_counts(normalize=True)
## The percentage of annual members in 62.2% ,and the percentage of casual riders is 37.7%

In [ ]:
df["start_station_name"].value_counts().head(10)
## Streeter Dr & Grand Ave is the most visited station annual members and casual riders use

In [ ]:
member_df["start_station_name"].value_counts().head(10)
## Clark St & Elm St is the most visited station annual members use

In [ ]:
casual_df["start_station_name"].value_counts().head(10)
## Streeter Dr & Grand Ave is the most visited station casual members use

In [ ]:
rideable_type =df["rideable_type"].value_counts()
rideable_type

In [ ]:
df["rideable_type"].value_counts(normalize= True)

In [ ]:
member_rideable_type =member_df["rideable_type"].value_counts()
member_rideable_type

In [ ]:
casual_rideable_type =casual_df["rideable_type"].value_counts()
casual_rideable_type

In [ ]:
member_day_rides= member_df["day_week_start"].value_counts().sort_index()
#member_df.groupby(["day_week_start","day_week_start_name"])["ride_id"].count().sort_values(ascending = True)
member_day_rides

In [ ]:
member_day_name_rides= member_df["day_week_start_name"].value_counts(normalize = True)
#member_df.groupby(["day_week_start","day_week_start_name"])["ride_id"].count().sort_values(ascending = True)
member_day_name_rides
## Most days rides are nearly equal for annual members

In [ ]:
casual_day_rides= casual_df["day_week_start"].value_counts().sort_index()
casual_day_rides

In [ ]:
casual_day_name_rides= casual_df["day_week_start_name"].value_counts(normalize=True)
casual_day_name_rides
## The percentage of casual rides on Saturday and Sunday and Friday >60%

In [ ]:
member_month_rides = member_df["month"].value_counts().sort_index()
member_month_rides

In [ ]:
member_month_name_rides = member_df["month_name"].value_counts()
member_month_name_rides

In [ ]:
casual_month_rides = casual_df["month"].value_counts().sort_index()
casual_month_rides

In [ ]:
casual_month_name_rides = casual_df["month_name"].value_counts(normalize=True)
casual_month_name_rides

## 5. Visualization

In [ ]:
plt.figure(figsize=(8,6))
plt.bar( member_type.index,member_type.values)
plt.title("Member vs Causal riders count")
current_values = plt.gca().get_yticks()
current_values
plt.gca().set_yticklabels(['{:,.0f}'.format(x) for x in current_values])
plt.show()

In [ ]:
plt.figure(figsize=(8,6))
plt.pie(member_type.values,labels = member_type.index,autopct="%.1f%%")
plt.title("Member vs Causal riders Percentage")
plt.legend()
plt.show()

In [ ]:
plt.figure(figsize=(8,6))
plt.bar( rideable_type.index,rideable_type.values)
plt.title("Rideable Types Count Of All Riders")
current_values = plt.gca().get_yticks()
current_values
plt.gca().set_yticklabels(['{:,.0f}'.format(x) for x in current_values])
plt.show()

In [ ]:
df["rideable_type"].value_counts(normalize= True)
plt.figure(figsize=(8,6))
plt.pie(rideable_type.values,labels = rideable_type.index,autopct="%.1f%%")
plt.title("Rideable Types Percentage Of All Riders")
plt.legend()
plt.show()

In [ ]:
plt.figure(figsize=(8,6))
plt.bar( member_rideable_type.index,member_rideable_type.values)
plt.title("Rideable Types Count Of Annnual Members")
current_values = plt.gca().get_yticks()
current_values
plt.gca().set_yticklabels(['{:,.0f}'.format(x) for x in current_values])
plt.show()

In [ ]:
plt.figure(figsize=(8,6))
plt.pie(member_rideable_type.values,labels = member_rideable_type.index,autopct="%.1f%%")
plt.title("Rideable Types Percentage Of Annual Members")
plt.legend()
plt.show()

In [ ]:
plt.figure(figsize=(8,6))
plt.bar( casual_rideable_type.index,casual_rideable_type.values)
plt.title("Rideable Types Count Of Casual Riders")
current_values = plt.gca().get_yticks()
current_values
plt.gca().set_yticklabels(['{:,.0f}'.format(x) for x in current_values])
plt.show()

In [ ]:
plt.figure(figsize=(8,6))
plt.pie(casual_rideable_type.values,labels = casual_rideable_type.index,autopct="%.1f%%")
plt.title("Rideable Types Percentage Of Casual Riders")
plt.legend()
plt.show()

In [ ]:
plt.figure(figsize=(8,6))
width = .3
plt.bar(member_day_rides.index,member_day_rides.values,width = width)
plt.bar(casual_day_rides.index+width,casual_day_rides.values,width = width)
plt.title("Total Number of Rides by Day")
plt.xticks([1,2,3,4,5,6,7],labels =["Sudnay","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],rotation = 45)
current_values = plt.gca().get_yticks()
current_values
plt.gca().set_yticklabels(['{:,.0f}'.format(x) for x in current_values])
plt.legend(labels = ["member","casual"])
plt.show()

In [ ]:
plt.figure(figsize=(8,6))
width = .3
plt.bar(member_month_rides.index,member_month_rides.values,width = width)
plt.bar(casual_month_rides.index+width,casual_month_rides.values,width = width)
plt.title("Total Number of Rides by Month")
plt.xticks([1,2,3,4,5,6,7,8,9,10,11,12],
           labels =["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
          rotation = 45)
current_values = plt.gca().get_yticks()
current_values
plt.gca().set_yticklabels(['{:,.0f}'.format(x) for x in current_values])
plt.legend(labels = ["member","casual"])
plt.show()

In [ ]:
plt.figure(figsize=(8,6))
sns.countplot(x= "member_casual",hue = "month",data = df,palette="colorblind")

## 6.Act

1. the company could lower the charges for the rides for member customers than a casual users. This would encourage to casual users to become regular members.

2. The company can could give discounts for electric and classic bikes to annual and casual riders to increase the use of them

3. The analysis has shown that annual members ride on weekdays more and casual ridres ride more on weekends , So the company should make a weekend packages to only members of the company,this package can include a discount to members who book a bike in the weekend.

4. A little more than 70% of the casual riders use Cyclictic over a span of 5 months from May to September ; Marketing team must focus on top 10 stations during these months for:
- A weekly, monthly and quarterly membership schemes
- Increasing the number of bikes availability over the period of these 5 months

5. Design campaign to promote the usage of bikes regularly by highlighting the health and environmental benefits by creating a mobile application which can show the calories burnt, and have a reward system once a certain level is reached. This will encourage memberships.

Further analysis needs to be carried out to find more insights